@model IEnumerable<PentonixAssesment.Models.Registration>

@{
    ViewBag.Title = "Index";
}

<style>
    body {
        background: url('../../Imgs/dashboard_background.jpg');
    }
    
    </style>


<h2 class="text-center">
    User Information
</h2>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.Type != "Admin")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                
                
            </tr>
        }

    }

</table>
